.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.6));
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: #e50914;
  font-size: 28px;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: #e50914;
}
